$mc-col: #bf8fc6;
$light: #f2c0f9;
$dark: #8e6195;
$background: #fff0f5;
$jumbotron: #e9ecef;
$c-btn: #e2eafc;
$black: #000;
$white: #fff;
$font: 'Indie Flower', cursive;
$transition: all 0.3s linear;
$transition-ease: all 0.3s ease;
$transform: translate3d(0, -2px, 0);
$spacing: 0.05rem;
$radius: 5px;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

$font-size: 1.1rem;
$font-size-sm:.9rem;
$font-size-bg: 1.5rem;
//$font: 'Raleway';
$sm: 600px;
$tablet: 768px;
$tablet-bg: 1024px;
$desktop: 1366px;
$lg-desktop: 1920px;
$sm-min-width: 280px;
$sm-max-width: 320px;
$sm-width: 250px;
$tb-min-width: 320px;
$tb-max-width: 380px;
$tb-width: 300px;
$tb-bg-min-width: 300px;
$tb-bg-max-width: 280px;
$tb-bg-width: 295px;
$md-width:600px;
$md-max-width:650px;
$md-min-width:400px;
$lg-width:950px;
$lg-max-width:1050px;
$lg-min-width:700px;

$line-height: 1.6;
$line-height-2: 1.4;
$transition: all 0.2s linear;
$spacing: 0.1rem;
$radius: 5px;
$transform: translate3d(0, -1px, 0);
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
$max-width: 1170px;
$fixed-width: 620px;
