@import "../../styles/module/colors.module";
@import "styles/module/mixins";

.footer{
  position: sticky;
  bottom: 10px;
  @include flex-end;
  .button{
    background: $mc-col;
    border: 1px solid $light;
    padding: 0.3rem 0.5rem;
    display: inline-block;
    margin-top: 0.75rem;
    margin-right: 1rem;
    letter-spacing: $spacing;
    border-radius: $radius;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    outline: none;
   &:hover{
     background: $light;
     color: $mc-col;
   }
  }
}
