@import "../../styles/module/colors.module";


.info{
  .puppy{
    display: flex;
    justify-content: center;
    align-content: center;
    img {
      height: 12rem;
      width: 12rem;
      &:hover{
        animation: eva 2s linear infinite;
        transition: var(--transition);
      }
    }
  }
}
@keyframes eva {
  0% {
    transform: scale(1);

  }
  50% {
    transform: scale(1.1);

  }
  100% {
    transform: scale(1);
  }
}
