@import "../../styles/module/colors.module";
@import "styles/module/mixins";

.info{
  .puppy{
    display: flex;
    justify-content: center;
    align-content: center;
    img {
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      &:hover{
        animation: eva 2s linear infinite;
        transition: var(--transition);
      }
      @media (max-width: $sm) {
        height: 5rem;
        width: 5rem;
      }
    }
  }
  .hometitle{
    //background-color: red;
    @media (max-width: $tablet) {
      font-size: 1rem;
      padding-top: 1rem;
    }
  }
  .presentation{
    //background-color: red;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  //.mobiletitle{
  //  display: none;
  //  padding: .2rem .4rem;
  //  margin: .1rem;
  //  font-size: 1.5rem;
  //  @media (max-width: $sm) {
  //    display: block;
  //  }
  //}
  .mobilepresentation{
    display: none;
    padding: .9rem .6rem;
    margin: .3rem;
    @media (max-width: $sm) {
      display: block;
    }
  }
}
@keyframes eva {
  0% {
    transform: scale(1);

  }
  50% {
    transform: scale(1.1);

  }
  100% {
    transform: scale(1);
  }
}
