/*@import "colors.module.scss";*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import "Navbar.css";
@import "Sidebar.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Indie Flower' ! important;
  background-color: #fff0f5 ;
  /*font-size: 1.2rem;*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

