.navbarm{
    background-color: #bf8fc6;
    height: 4rem;
    position: relative;
    display: flex;

}
.logo{
    padding-right: 2rem;
}
#open{
    display: none;
}
.left{
    width: 30%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.left p{
    margin: 0;
    padding: 0 2rem;
    color: #f2c0f9;
    font-size: 1.4rem;
}
.right{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.links{
    display: flex;
    justify-content: center;
    align-self: center;
    list-style-type: none;
    padding-top: 1rem;
}
.link{
    padding: 1rem;
}
.link-route{
    text-decoration: none;
    font-size: 1.4rem;
    margin: 0;
    color: #f2c0f9;
    cursor: pointer;
}
.link-route:hover{
    color: #8e6195;
    transition: all .3s ease;
}


@media screen and (max-width: 768px) {
    .right{
        display: none;
    }
    #open{
        display: block;
        background: #8e6195;
        border-radius: 5px;
        outline: none;
        padding: .2rem .6rem;
        margin: .1rem;
        border: #f2c0f9;
    }

    .logo{
        display: none !important;
    }
    .left{
        width: 50%;
    }
    .left p{
        padding: .3rem 0;
        font-size: 1rem;
    }
}
