.sidebar {
    display: none;
}

.close {
    padding: 1rem .2rem;
}

#close {
    border-radius: 5px;
    outline: none;
    padding: .2rem .6rem;
    margin: .1rem;
    transition: all .3s ease;
}

#close:hover {
    background-color: #bf8fc6;
}

.sidelinks {
    list-style-type: none;
    background-color: #bf8fc6;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    padding-top: 4rem;
}

.sidelink {
    padding: 1rem .2rem .3rem 1rem;
    text-decoration: none;
    background-color: #bf8fc6;
}
#s1{animation: anim-link 1s ease-in;}
#s2{animation: anim-link 1.2s ease-in;}
#s3{ animation: anim-link 1.3s ease-in;}
#s4{animation: anim-link 1.4s ease-in;}
#s5{animation: anim-link 1.5s ease-in;}
#s6{animation: anim-link 1.6s ease-in;}
#s7{animation: anim-link 1.7s ease-in;}

.route {
    text-decoration: none;
    font-size: 22px;
    margin: 0;
    color: #f2c0f9;
}
.route:hover{
    color: #8e6195;
    transition: all .3s ease;

}

.show {
    display: block;
    animation: anim-left .2s ease-in-out;
    position: absolute;
    z-index: 1;
}


@keyframes anim-left {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }

}
@keyframes anim-link {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    50% {
        opacity: 0.5;

    }
    100% {
        opacity: 1;
    }

}
